.cards {
  max-width: 120px;
  padding: 4px;
  background-color: rgb(15, 93, 45);
}

#game {
  margin-top: 70px;
}

.flip {
  transition: transform 0.4s;
  transform: rotateY(360deg);
  transform-style: preserve-3d;
}
